{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
    <h1><i class="fa-solid fa-cart-arrow-down"></i>  Votre panier</h1>
    {% if cart is empty %}
        <div class="alert alert-dismissible alert-light">
            <h1><strong> <i class="fa-regular fa-face-frown fa-fade fa-xl"></i> Votre panier est vide </strong>.</h1>
        </div>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Supprime</th>
            </tr>
            </thead>
            <tbody>

            {% for idproduct,quantite in cart %}

               {% set product= Productrepository.find(idproduct) %}
                {% if product is not null %}
                <tr>
                    <td>
                        <a href="{{ path("showproduct",{"slug_product":product.slug}) }}">
                            <img src="{{ product.picture }}" alt="{{ product.name }}" title="{{ product.name }}" style="width:26%">
                        </a></td>
                    <td>
                        <a href="{{ path("showproduct",{"slug_product":product.slug}) }}">
                            {{ product.name }}
                        </a>
                    </td>
                    <td>{{ product.price | arrondie }} </td>
                    <td>

                        <a href="{{ path("cart_decremente",{"idproduct":idproduct}) }}">
                           <i class="fa fa-minus fa-2xs"></i>
                        </a>
                        {{ quantite }}
                        {% if quantite < product.quantite %}
                            <a href="{{ path("cart_incremente",{"idproduct":product.id}) }}">
                            <i class="fa-solid fa-plus fa-2xs"></i>
                            </a>
                        {% endif %}

                    </td>
                    <td>{{ cartItem.totalProduct(idproduct) |arrondie}}</td>

                    <td>
                        <a href="{{ path("cart_delete",{"idproduct":idproduct}) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">Total :</td>
                <td><strong>{{ totalCart | arrondie }}</strong></td>
                <td><a href="{{ path("cart_delete_all") }}">
                        <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i> Vider le
                            panier
                        </button>
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>
{#
        {% if is_granted("ROLE_USER") %}
            <hr>
            <h2>Confirmer votre commande en remplissant ce formulaire</h2>
            {{ form_start(formConfirmation,{"action" :path('purchase_confirm')}) }}
            {{ form_widget(formConfirmation) }}
            <button type="submit" class="btn btn-success">Je confirme</button>
            {{ form_end(formConfirmation) }}
            </hr>
        {% else %}
            <h2>Vous devez être connecté pour confirmer la commande </h2>
            <a href="{{ path("security_login") }}" class="btn btn-success">Connexion</a>
            ou <a href="#"> inscription</a>
        {% endif %}#}

    {% endif %}
{% endblock %}
