{% extends 'base.html.twig' %}
{% block title %}Création d'un produit {% endblock %}
{% block body %}
	{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
	<fieldset>
		<legend class="mb-4">🆕 Nouveau Pin</legend>

		<div class="card shadow-sm border-0 mb-4">
			<div class="card-body">
				<div class="row g-3">
					<div class="col-md-6">
						<div class="mb-3">
							{{ form_row(form.name) }}
						</div>

						<div class="mb-3">
							{{ form_row(form.category) }}
						</div>

						<div class="mb-3">
							{{ form_row(form.price) }}
						</div>
					</div>

					<div class="col-md-6">
						<div class="mb-3">
							{{ form_row(form.description, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
						</div>

						<div class="mb-3">
							{{ form_row(form.picture, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>

				<div class="text-end mt-4">
					<button type="submit" class="btn btn-primary">
						<i class="fa-regular fa-floppy-disk me-1"></i> Enregistrer
					</button>
				</div>
			</div>
		</div>
	</fieldset>
	{{ form_end(form) }}


{% endblock %}


