{% extends 'base.html.twig' %}
{% block title %}Mes commandes{% endblock %}

{% block body %}
    <h1><i class="fa-solid fa-cart-shopping"></i>  Mes commandes</h1>
    {% if purchaseList is empty %}
        <div class="alert alert-dismissible alert-light">
            <h1><strong> <i class="fa-regular fa-face-frown fa-fade fa-xl"></i> Aucune commande en cours </strong>.</h1>
        </div>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Numéro de commandes</th>
                <th>Adresse de livraison</th>
                <th>Date de commande</th>
                <th>Produits</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>

            {% for p in purchaseList %}

                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.adresse }}<br>{{ p.codePostal }},{{ p.city }}</td>
                    <td>{{ p.PuchaseAt |date("d/m/Y")}}</td>
                    <td>
                        <ul class="list-group">
                            {% for purchaseItems in p.purchaseItems %}
                                {% set product= purchaseItems.Product %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <p class="text-primary-emphasis">
                                        <a class="nav-link" href="{{ path("showproduct", {"slug_product":product.slug}  ) }}">
                                            <span class="badge bg-primary rounded-pill">X {{ purchaseItems.quantite }} </span>
                                            {{ purchaseItems.ProductName }} -   <strong> <small>  {{ purchaseItems.total  | arrondie}}</small></strong>
                                        </a>


                                    </p>

                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ p.statut }}</td>
                    <td><strong><p class="text-danger-emphasis">{{ p.total | arrondie}} </p></strong></td>
                </tr>

            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <td colspan="4"></td>
                <td ></td>
            </tr>
            </tfoot>
        </table>
    {% endif %}
{% endblock %}