{% extends 'base.html.twig' %}

{% block title %}Hello page{% endblock %}

{% block body %}

		<h1> Nos produits phares</h1>
		<div class="row">
			{% for p in produitPhares %}
				<div class="col">
					<div class="card">
						<img src="{{ asset(p.picture) }}" class='img-thumbnail' alt="img du produit">
						<div class="card-body">
							<h4 class="card-title">{{ p.name }}</h4>
							<a href="{{ path('product_category',{'slug': p.category.slug}) }}">
								<span class="badge badge-info">{{ p.category.name }}</span>
							</a>
							<p class="card-text">{{ p.description }}</p>
							<p class="card-text"><small>Montant de {{ p.price }} &euro;</small></p>

							<a href="{{ path('showproduct',{'slug_category':p.category.slug,'slug_product':p.slug}) }}" class="btn btn-primary btn-sm">Détails</a>
							<a href="#" class="btn btn-success btn-sm">Ajouter</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	<hr>
	<h2> Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et odit, perferendis.</p>
	<div class="row">
		{% include '_shared/_assurance.html.twig' with {'color':'primary' ,
			'icone':'fas fa-truck',
			'texte':'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ex?'} %}

		{% include '_shared/_assurance.html.twig' with {'color':'success' ,
			'icone':'fas fa-check',
			'texte':'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ex?'} %}

		{% include '_shared/_assurance.html.twig' with {'color':'warning' ,
			'icone':'fas fa-lock',
			'texte':'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ex?'} %}
	</div>
{% endblock %}
