<nav class="navbar navbar-expand-lg bg-white" data-bs-theme="white">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('homepage') }}">Commerce</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
					<a href="{{ path('product_create') }}" class="btn btn-outline-dark mx-2">
						<i class="fa-solid fa-square-plus" style="color: #74C0FC;"></i>
						Creation d'un produit
					</a>
					<a href="{{ path('category_create') }}" class="btn btn-outline-dark mx-2">
						<i class="fa-solid fa-square-plus" style="color: #74C0FC;"></i>
						Creation d'une catégorie
					</a>

				{% endif %}




			</ul>
			<ul class="navbar-nav ">
				{% if app.user %}
					{# Mes commandes #}
					<a href="{{ path('purchase_show') }}" class="btn btn-outline-dark mx-2">
						<i class="fa-solid fa-cart-shopping fa-sm"></i>
						Mes commandes
					</a>
					{# Mon panier #}
					<a href="{{ path('cart_show') }}" class="btn btn-outline-dark mx-2">
							<i class="fa-solid fa-cart-shopping fa-sm" style="color: #131313;"></i>
							Mon panier
							<span class="badge bg-dark text-white ms-1 rounded-pill">{{ cartItem.nbrItems }}</span>
					</a>
					{# Déconnecter #}
					<a href="{{ path('app_logout') }}" class="btn btn-outline-dark mx-2">
						<i class="fa-solid fa-person-walking-dashed-line-arrow-right fa-sm"></i>
						Déconnecter
					</a>

				{% else %}
					{# inscription #}
					<a href="#" class="btn btn-outline-dark mx-2">
						<i class="fa-solid fa-address-card fa-sm"></i>
						Inscription
					</a>
					{# connexion #}
					<a href="{{ path('app_login') }}" class="btn btn-outline-dark mx-2">
						<i class="fa-solid fa-right-to-bracket fa-sm"></i>
						Connexion
					</a>

				{% endif %}
			</ul>
		</div>
	</div>
</nav>